*.o
*.obj

*.gch
*.pch

# Executables
*.exe
*.out
*.app

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

## Local 

.idea/*.xml
.cache/*

build/**/*

*.log

bin/*
test/test_runner

.vs/**
